<div class="grid">
    <div class="col-12 md:col-12">
      <div class="grid mt-1 mb-4 ml-1">
        <div class="">
          <ng-container *ngIf="!config.data.isUpdated">
            <h4 class="font-weight: 500;">
              Su orden ha sido creada
            </h4>
          </ng-container>
          <ng-container *ngIf="config.data.isUpdated">
            <h4 class="font-weight: 500;">
              Su orden ha sido actualizada
            </h4>
          </ng-container>
        </div>
      </div>
      <!-- <p-progressBar *ngIf="true"
        class="fadein animation-duration-1000"
        mode="indeterminate"
        [style]="{ color: '#e0040a', height: '4px' }"
      ></p-progressBar> -->
      <br />
    </div>
  </div>

    <div class="grid">
      <div style="text-align: center;">
        <button
        class="p-button-outlined ml-1"
        pButton
        type="button"
        class="btn btn-primary"
        (click)="verServicios()"
      >
        Ver Orden
      </button>
      </div>
    </div>
 
  