:host ::ng-deep {
    .p-toolbar {
        border: 1px solid #e4e4e4;
    }
}

h5{
    font-size: 1.25rem;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
    color: inherit;
}


.details{
    margin-top: 10px;
    width: 100%;
    border-radius: 16px;
    padding: 25px;
    background-color: #c5cae9;
    position: relative;
}


.complaint-info{
    padding: 20px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}

.complaint-container{
    //width: 100%;
    width: 950px;
    height: 605px;
    margin: auto;
    display: flex;
    // gap: 20px;
}

.complaint-detail{
    width: 65%;
}

.product-item {
    .product-item-content {
        border: 1px solid var(--surface-d);
        border-radius: 3px;
        margin: .3rem;
        text-align: center;
        padding: 2rem 0;
        overflow: hidden; 
        transition: transform 0.3s ease;
    }

    .product-image {
        width: 50%;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        transition: transform 0.3s ease;
    }
    .product-image:hover{
        transform: scale(1.2);
    }
}