<p-toast baseZIndex="10000"></p-toast>
<p-toolbar>
    <div class="p-toolbar-group-left">
        <h5 class="p-mr-4 p-p-0">Filtro de búsquedas</h5>
        <div class="p-fluid formgrid p-grid">
            
            <div class="p-col-12 p-md-6 p-lg-6">
                <label for="">Número de orden</label>
                 <!-- <input type="number" pInputText [(ngModel)]="orderHistoryId"> -->
                 <p-inputNumber [(ngModel)]="orderHistoryId" [min]="0" [useGrouping]="false" (keyup.enter)="GetOrderHistories(orderHistoryId, statusOrder)"></p-inputNumber>
            </div>
            <div class="p-col-12 p-md-6 p-lg-6">
                <label for="">Estado</label>
                <p-dropdown [options]="status" placeholder="Seleccione estado" [(ngModel)]="statusOrder"
                optionLabel="name" optionValue="value" [showClear]="true"></p-dropdown>
            </div>
            <!-- <div class="col-12 md:col-6 lg:col-2">
                <label for="">Facturado</label>
                <p-dropdown [options]="status" [(ngModel)]="tipoSelected" placeholder="Seleccione estado" 
                optionLabel="name" [showClear]="true"></p-dropdown>
            </div> -->
        </div>
    </div>
    
    <div class="p-toolbar-group-right">
        <p-button icon="pi pi-search" type="button" 
        label="Buscar" styleClass="p-button-danger" (click)="GetOrderHistories(orderHistoryId, statusOrder)"></p-button>
    </div>
</p-toolbar>
<div class="p-mt-4"></div>

<p-table [value]="orderHistories" [resizableColumns]="true" styleClass="p-datatable-gridlines" [loading]="loadingResults">
    <ng-template pTemplate="header">
        <tr>
            <th pResizableColumn>Estado</th>
            <th pResizableColumn>Orden ID</th>
            <th pResizableColumn>Fecha/Hora</th>
            <th pResizableColumn>Valor</th>
            <th pResizableColumn>DM</th>
            <th pResizableColumn>Novedad</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order>
        <tr>
            <td>{{getStatus(order.status)}}</td>
            <td>ID: {{order.id}}</td>
            <td>{{getFormatDate(order.createdAt)}}</td>
            <td>{{order.totalPayUser}}</td>
            <td>{{order?.deliveryMan?.name??''}}</td>
            <td>
                <i *ngIf="order.complaint == null" class="pi pi-eye" 
                style="color: #e1e1e1; font-size: 2rem;"></i>
                <i *ngIf="order.complaint != null" class="pi pi-eye" (click)="OpenDialogDetail(order.complaint, order.orderUuid)" 
                style="color: #17a2b8; font-size: 2rem; cursor: pointer;"></i>
            </td>
        </tr>
    </ng-template>
</p-table>
<p-paginator [rows]="10" (onPageChange)="Page($event)" [totalRecords]="totalRecords"></p-paginator>

<p-dialog [(visible)]="isDialogDetailOpen" [modal]="true">
    <ng-template pTemplate="header">
        <h5>Usuario ID: {{complaintOrder.user.id}}</h5>    
     </ng-template>
    <ng-container *ngIf="complaintOrder">
        <div class="complaint-container">
            <div class="complaint-detail">
               <div class="complaint-info">
                  <div class="complaint-title">
                     <b>Novedad: </b><spam>{{complaintOrder.reason}}</spam><br>
                     <b>Detalle: </b><spam>{{complaintOrder.detail}}</spam>
                  </div>
                  <div class="complaint-split">
                     <p-splitButton label="Estado: {{labelStatus}}" styleClass="p-button-outlined mr-2 mb-2" 
                       [model]="items" [disabled]="true"></p-splitButton>
                  </div>
               </div>
               
               <p-carousel [value]="imagesArray" [numVisible]="1" [numScroll]="1" [circular]="false" [responsiveOptions]="responsiveOptions">
                  <ng-template let-image pTemplate="item" let-i="index">
                      <div class="product-item">
                          <div class="product-item-content">
                              <div class="p-mb-3">
                                  <img [src]="image" [alt]="" class="product-image" />
                              </div>
                              <div>
                                  <h4 class="p-mb-1">Evidencia {{i}}</h4>
                              </div>
                          </div>
                      </div>
                  </ng-template>
              </p-carousel>
            </div>
            <div class="complaint-chat">
               <app-chat
                     [isLoading]="complaintOrder.isLoadingChat"
                     [messages]="complaintOrder.messagesChat" 
                     [orderId]="complaintOrder.id"
                     [orderUuid]="orderUuidtoSend"
                     [usuarioLogueado]="userName"
                     [userId]="userId"
                     [isInputEnabled]="isEnabledInputText"
                     (pushMessage)="pushMessaje($event)"
                     (emitMessage)="sendMessage($event)"
                     ></app-chat>
            </div>
         </div>
    </ng-container>
</p-dialog>