<p-toast  baseZIndex="10000"></p-toast>
<div *ngIf="progressBar">
    <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
</div>
<div class="p-col-12 p-lg-3">
    <p-dropdown [options]="stores" [(ngModel)]="storeSelected" optionLabel="store_name" (onChange)="getProducts()"></p-dropdown>
</div>
<div class="p-grid layout-dashboard">
    <div class="p-col-12 p-lg-3">
        <div class="card widget-download-files">
            <div class="card-header">
                <div class="title">
                    <h5>Carta</h5>
                </div>
                <div class="files-info" (click)="getProducts()">
                    <span>Todos los productos</span>
                </div>
            </div>
            <ul>
                <li *ngFor="let item of menu; index as i;">
                    <div class="p-grid list-item" (click)="getProductsFromMenu(item)">
                        <div class="p-col-2 icon">
                            <img
                                src="assets/layout/images/dashboard/icon-sapphire.svg"
                                alt="mirage-layout" />
                        </div>
                        <div class="p-col-8 file-name">
                            <h6 class="name">{{item}}</h6>
                        </div>
                        <div class="p-col-2">
                            <button type="button" pButton pRipple class="p-button-text p-button-rounded p-button-plain" 
                            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" ></button>
                        </div>
                    </div>
                    <div *ngIf="expanded">
                        <p>aqui</p>                   
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="p-col-12 p-lg-9">
        <div class="card widget-store-items">
            <div class="p-grid p-nogutter">
                <div class="p-col-3 title">
                    <h5>Productos de Tienda</h5>
                </div>
                <div class="p-col-6 p-4">
                    <p-selectButton class="select-button-custom"  [options]="ProductOptions" [(ngModel)]="filterProduc" optionLabel="name" optionValue="value" (onChange)="ChangeFilterProduc(filterProduc)"></p-selectButton>

                    <!-- <div class="info-item add"><i class="pi pi-plus"></i> Add
                        Item</div>
                    <div class="info-item library">
                        <img
                            src="assets/layout/images/dashboard/icon-library.svg"
                            alt="mirage-layout" />
                        Library</div> -->
                </div>
            </div>

            <div class="store-cards-container">
                <div class="p-grid store-cards">
                    <div *ngFor="let product of products; index as i;" class="p-col-6 p-lg-3 p-md-4">
                        <div class="store-card">
                            <div class="store-card-icons">
                                <div class="p-grid p-nogutter">
                                    <div class="p-col-4">
                                        <i class="pi pi-book" (click)="OpenProductDetail(product)"></i>
                                    </div>
                                    <div class="p-col-4">
                                        <i class="pi pi-check"(click)="OpenDeleteDialog(product, 1)" [class]="'icon-badge status-' + product.isOutStock"></i>
                                    </div>
                                    <div class="p-col-4">
                                        <i class="pi pi-ban" (click)="OpenDeleteDialog(product, 0)" [class]="'icon-badge-trash status-' + product.isOutStock"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="store-card-image">
                                <div class="product-grid-item-top">
                                    <span [class]="'product-badge status-' + product.isOutStock">{{product.isOutStock == false ? 'En Stock' : 'Sin Stock'}}</span>
                                </div>
                                <img src="{{product.picture}}" alt="mirage-layout" class="coverImg" onError="this.src='https://delivery-production-app-imagenes-archivos.s3.amazonaws.com/deafultPictures/product-not-found.jpeg'"/>
                            </div>
                            <div class="store-card-content">
                                <h5>{{product.name}}</h5>
                                <span>{{product.review}}</span>
                                <div class="product-card-price">
                                    <ng-container *ngIf="product.price.oldValue">
                                        <p style="text-decoration: line-through;">{{product.price.getCurrencyAndOldValue()}}</p>
                                    </ng-container>
                                    <p style="font-weight: bold;">{{product.price.currency + '. ' + product.price.value}}</p>

                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog [(visible)]="productDialog" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}" styleClass="p-fluid">
    <div class="dialog-content">
        <div class="p-grid">
            <div class="p-col-5">
                <div class="productImg">
                    <img src="{{product?.picture}}" alt="" class="imgCover" onError="this.src='../../../assets/images/Imagen_No_Disponible.jpg'">
                </div>
            </div>
            <div class="p-col-7">
                <div class="productContent">
                    <h1>{{product?.name}}</h1>
                </div>
            </div>
        </div>
        <hr>
        <div>
            <h3>Información del Producto</h3>
            <p>{{product?.review}}</p>
        </div>
    </div>
</p-dialog>

<p-dialog [(visible)]="deleteProductDialog" header="Confirmacion" 
    [draggable]="false" [resizable]="false" 
    [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="product">Estas seguro que quieres <b>{{statusProduct}}</b> el producto?</span>
    </div>
    <ng-template pTemplate="footer">
        <br>
        <button pButton pRipple class="p-button-outlined" label="Cancelar" (click)="deleteProductDialog = false"></button>
        <button pButton pRipple class="p-button-raised" label="Aceptar" (click)="confirmDeleteProduct(product.isOutStock = !product.isOutStock)"></button>
    </ng-template>
</p-dialog>