<div class="login-screen" [ngClass]="{'layout-dark': dark, 'layout-light': !dark}">
    <p-toast baseZIndex="10000"></p-toast>

    <div class="login-screen__content">
        <div class="login-screen__panel">

            <div class="login-screen__hero">
                <img class="login-screen__hero-img" src="../../../assets/images/DELIVERY_MAN.png" alt="" />
            </div>

            <div class="login-card">
                <h1 class="login-card__title">Ingresar</h1>

                <div class="login-card__form">
                    <div class="login-input-wrapper">
                        <label for="username">Usuario</label>
                        <input id="username" pInputText [(ngModel)]="userName" required autocomplete="username" />
                        <i class="pi pi-user"></i>
                    </div>

                    <div class="login-input-wrapper">
                        <label for="password">Contraseña</label>
                        <input id="password" pPassword type="password" [(ngModel)]="password" required autocomplete="current-password" />
                        <i class="pi pi-lock"></i>
                    </div>

                    <div class="login-card__actions">
                        <button pButton type="button" label="Iniciar Sesión" class="login-card__submit"
                                (click)="signIn()" *ngIf="!flagButtonnumberphone"></button>
                        <i class="pi pi-spin pi-spinner login-card__spinner" *ngIf="flagButtonnumberphone"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
