<div class="container">
    <div class="messages p-shadow-4">
        <div class="messages-header">
            <p-avatar label="O" styleClass="p-mr-2" [style]="{'background-color': '#3f51b5', 'color': '#ffffff'}" shape="circle"></p-avatar>
            <h2>Id: {{orderId}} </h2>
        </div>
        <mat-divider></mat-divider>
        <div class="chat-area">
            <ng-container *ngIf="userId">
                <div *ngFor="let message of messages$" >
                    <div class="sender-name" *ngIf="message.user.id != userId">
                        <span>{{message.user.type}}</span>
                    </div>
                    <div class="chat-bubble-container"
                    [ngClass]="{'sender': message.user.id === userId}">
                        <div class="chat-bubble">
                            {{message.body}}
                            <span class="chat-date">
                                {{getFormatDate(message.createdAt)}}
                            </span>
                        </div>
                    </div>
                    <ng-container *ngIf="message.readUser">
                        <div class="chat-avatar-container" style="margin-top: -10px;"
                        [ngClass]="{'sender': message.user.id === userId}">
                            <div class="chat-avatar">
                                <p-avatarGroup styleClass="p-mb-3">
                                    <div *ngFor="let reader of message.readUser">
                                        <p-avatar label="{{(reader.type.charAt(0)).toUpperCase()}}" class="avatar" 
                                        [style]="{'background-color': (reader.type === 'user') ? '#688128' : '#d3a9be', 'color' : '#ffffff'}" shape="circle"></p-avatar>
                                    </div>
                                </p-avatarGroup>
                            </div>
                        </div>
                    </ng-container>   
                </div>
                <div #endOfChat></div>
            </ng-container>
        </div>
        <div class="input-area">
            <mat-form-field appearance="outline">
                <input [formControl]="messageControl" matInput placeholder="Ingrese su mensaje..." (keydown.enter)="sendMessage()">
                <mat-icon matSuffix (click)="sendMessage()" >
                    send
                </mat-icon>
              </mat-form-field>
        </div>
    </div>
</div>
