:host ::ng-deep {
    .custom-toolbar.p-toolbar {
        border: 1px solid #e4e4e4;
    }
}

h5{
    font-size: 1.25rem;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
    color: inherit;
}


// .country-item-value {
//     img.flag {
//         width: 17px;
//     }
// }

.country-item{
    display: flex;
    align-items: center;
}