<div class="p-grid">
    <div class="p-col-12 p-lg-4 p-md-6">
        <div class="card widget-tasks">
            <div class="card-header">
                <div class="title">
                    <h5>Por Aceptar</h5>
                </div>
                <div class=" task-info">
                    <span>You have</span><span class="highlighted"> 2 tasks</span><span> today</span>
                </div>
            </div>
            <div class="p-col-12">
                <div class="p-grid p-nogutter widget-overview-box overview-box-3">
                    <div class="p-col-3 overview-box-icon">
                        <h5>ID</h5>
                    </div>
                    <div class="p-col-6 overview-box-text">
                        <h5>457454</h5>
                    </div>
                    <div class="p-col-3 overview-box-status">
                        nueva
                    </div>
                </div>
            </div>
            <div class="p-col-12">
                <div class="p-grid p-nogutter widget-overview-box overview-box-3">
                    <div class="p-col-3 overview-box-icon">
                        <h5>ID</h5>
                    </div>
                    <div class="p-col-6 overview-box-text">
                        <h5>457454</h5>
                    </div>
                    <div class="p-col-3 overview-box-status">
                        nueva
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-col-12 p-lg-4 p-md-6">
        <div class="card widget-support-request">
            <div class="p-grid p-nogutter">
                <div class="p-col-6 title">
                    <h5>En preparación</h5>
                </div>
                <div class="p-col-6 support-info">
                    <p>⏰ Estimated wait time</p>
                    <span class="highlighted">21 minutes</span>
                </div>
            </div>
            <div class="p-col-12">
                <div class="p-grid p-nogutter widget-overview-box overview-box-1 p-shadow-24">
                    <div class="p-col-3 overview-box-icon">
                        <h5>ID</h5>
                    </div>
                    <div class="p-col-6 overview-box-text">
                        <h5>457454</h5>
                    </div>
                    <div class="p-col-3 overview-box-status">
                        <circle-progress [minutes]="5"></circle-progress>
                    </div>
                </div>
            </div>
            <div class="p-col-12">
                <div class="p-grid p-nogutter widget-overview-box overview-box-1 p-shadow-24">
                    <div class="p-col-3 overview-box-icon">
                        <h5>ID</h5>
                    </div>
                    <div class="p-col-6 overview-box-text">
                        <h5>457454</h5>
                    </div>
                    <div class="p-col-3 overview-box-status">
                        <circle-progress [minutes]="minutes"></circle-progress>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-col-12 p-lg-4 p-md-6">
        <div class="card widget-support-request">
            <div class="p-grid p-nogutter">
                <div class="p-col-6 title">
                    <h5>Por Entregar</h5>
                </div>
                <div class="p-col-6 support-info">
                    <p>⏰ Estimated wait time</p>
                    <span class="highlighted">21 minutes</span>
                </div>
            </div>

        </div>
    </div>
</div>
<p-dialog [(visible)]="displayOrder" [modal]="true" [style]="{width: '50vw'}" >
    <ng-template pTemplate="header">
        <div class="p-d-flex">
            <div class="p-mr-2"><b><h5>Orden 20231</h5></b></div>
            <div class="p-mr-2"></div>
            <div class="p-mr-8"><button pButton type="button" icon="pi pi-print" class="p-button-secondary p-button-rounded"></button></div>
        </div>
    </ng-template>
    <ng-template pTemplate="body">
        <div class="p-grid">
            <div class="p-col-8">
                <div class="card widget-tasks">
                    <p-card>
                        <ng-template pTemplate="header">
                            <b><h5>Prductos</h5></b>
                        </ng-template>                        
                    </p-card>
                </div>
            </div>
            <div class="p-col-4">
                <div class="card widget-tasks">
                    <p-card>
                        <ng-template pTemplate="header">
                            <b><h5>Cliente</h5></b>
                            nombre: Jhon Larru <br>
                            telefono: +51933685784
                        </ng-template>                        
                    </p-card>
                </div>
            </div>
        </div>

    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton type="button" label="Aceptar orden" icon="pi pi-check"></button>
        <button pButton type="button" label="Rechazar orden" icon="pi pi-times" class="p-button-danger"></button>

    </ng-template>
</p-dialog>