.container-dialog{
    display: grid;
    // height: 45vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.5fr .5fr;
    grid-template-areas: 
     "main main main sidebar"
     "footer footer footer sidebar";
}


main{
    background-color: #EFF1F5;
    grid-area: main;
}

#sidebar{
    background-color: #FAFBFD;
    border: 1px solid #EBEFF4;
    grid-area: sidebar;
    
}

footer{
    background-color: #FAFBFD;
    border: 1px solid #EBEFF4;
    grid-area: footer;
}

// @media screen and (min-width: 1601px) {
//     .card-recommend span{
//         font-size: 12px;
//     }
// }

@media only screen and (max-width: 1600px){
    .container-dialog{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr .5fr 2fr;
        grid-template-areas: 
            "main"
            "footer"
            "sidebar";
    }
    #footer-main{
        margin-top: -50px;
    }
    .card-recommend span {
        font-size: 12px;
    }
   
}

@media (max-width: 1670px) and (min-width: 1601px){
    #sidebar{
        height: 47vh;
    }
}

// @media only screen and (max-width: 550px){
//     .container-dialog{
//         grid-template-columns: 1fr;
//         grid-template-rows: 2fr 2fr 2fr;
//         grid-template-areas: 
//             "main"
//             "footer"
//             "sidebar";
//     }
// }

.sidebar-grid{
    display: flex;
    flex-wrap: wrap;
    margin-right: 0rem;
    margin-left: 0rem;
    margin-top: -1rem;
}

.sidebar-container{
    padding: 10px 20px 10px 20px;
}


.sidebar-container-title h5{
    margin-top: 10px;
    color: #a6aeb8;
}
.card-client{
    background-color: #FFFFFF;
    padding: 2rem;
    border: 1px solid #EEF2F6;
}

.deliveryMan{
    padding: 2rem;
}

.deliveryman-img{
    padding: 2rem;
}

.card-time{
    background-color: #FFFFFF;
    padding: 1rem;
    border: 1px solid #EEF2F6;
}

#counter-value{
    font-size: 20px;
    text-align: center;
    align-items: center;
}
.counter-min {
    font-size: 13px;
}

.card-recommend{
    background-color: #EBEDFF;
    border: 1px solid #E7E9FF;
    padding: 1rem .5rem;
}
.card-recommend span {
    text-align: center;
    color: #5665C2;
    font-size: 13px;
}

.card-repartidor{
    background-color: #E6F8F5;
    border: 1px solid #d0f8f2;
    text-align: center;
    align-items: center;
}

.card-repartidor span {
    text-align: center;
    color: #4BCCBD;
    font-size: 13px;
}

.repartidor-img{
    top: 50;
    left: 50;
}

.repartidor-img img{
    max-width:70%;
    max-height:70%;    
}

.btn-order{
    background-color: #2DC4B6;
    border: none;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
}
.btn-order:hover{
    background-color: #21998d;
}

.btn-reject{
    // background-color: transparent;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
    
}

.btn-preparation{
    text-align: center;
    background-color: #00B3A7;
    border: 1px solid #00B3A7;
}

.btn-preparation-2{
    background-color: #fff;
    border: 1px solid #fff;
    color: #000;
}

.btn-preparation:hover{
    background-color: #21998d;
    border: 1px solid #21998d;
}

.line-divisor{
    width: 100%;
    border: 1px solid #EEF2F6;
}

.footer-grid{
    display: flex;
    flex-wrap: wrap;
    margin-right: 0rem;
    margin-left: 0rem;
    margin-top: 4rem;
}

main{
    display: flex;
    
    justify-content: center;
}
.accordion{
    max-width: 700px;
    width: 100%;
    margin: 0 15px;
    padding: 15px;
    overflow: auto;
}

#btnOnClicked{
    display: none;
}

.accordion .accordion-content{
    margin: 10px 0 0 0;
    background-color: #fff;
    border-top: 1px solid #EEF2F6;
    border-left: 1px solid #EEF2F6;
    border-right: 1px solid #EEF2F6;
    overflow: hidden;
}

.accordion-content.open{
    padding-bottom: 10px;
}

.delivery-content{
    display: flex;
    min-height: 50px;
    padding: 0 15px;
    align-items: center;
    justify-content: space-between;
}

.accordion-content .header {
    display: flex;
    min-height: 50px;
    padding: 0 15px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.2s linear;
}
.delivery-status{
    display: flex;
    min-height: 50px;
    padding: 0 12px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #EEF2F6;
    border-radius: 8px;
}
.delivery-status p{
    font-weight: 600;
    padding-left: 5px;
}

.accordion-content .header .accordion-title{
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

.accordion-options{
    border-left: 1px solid #EEF2F6;
}
#subname{
    color: #000;
    font-size: 14px;
    font-weight: 400;
}
.accordion-content .accordion-description{
    height: 0;
    font-size: 12px;
    padding: 0 15px;
    font-weight: 400;
    color: #333;
    transition: all 0.2s linear;
} 
.deliveryman-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// .accordion-description{
//     overflow: auto;
// }

section{
    font-size: 12px;
    padding: 7px 15px 0 15px;
    font-weight: 400;
    color: #333; 
    background-color: #fff;
    border-top: 1px solid #EEF2F6;
    border-left: 1px solid #EEF2F6;
    border-right: 1px solid #EEF2F6;
    border-bottom: 1px solid #EEF2F6;
}

:host ::ng-deep {
    .p-accordion-tab:not(.p-accordion-tab-active) {
      .p-toggleable-content {
        height: 0;
        overflow: hidden;
      }
    }
  
    .p-accordion-tab.p-accordion-tab-active {
      .p-toggleable-content {
        height: auto !important;
        overflow: auto !important;
      }
    }
  }

.overlay-container{
    position: relative;
}
.overlay-chat{
    top: 20px;
    right: 0%;
    position: absolute;
    z-index: 1001;
    transform-origin: center top;
    --overlayArrowLeft: 0px;
    opacity: 1;
}

h5{
    font-size: 1.25rem;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
    color: inherit;
}
