<div class="p-grid">
    <div class="p-col-12 p-lg-4 p-md-6">
        <div class="card widget-tasks">
            <div class="card-header">
                <div class="title">
                    <h5>Por Aceptar</h5>
                </div>
                <div class=" task-info">
                    <span>You have</span><span class="highlighted"> 2 tasks</span><span> today</span>
                </div>
            </div>
            <div class="p-col-12">
                <div class="p-grid p-nogutter widget-overview-box overview-box-3">
                    <div class="p-col-3 overview-box-icon">
                        <h5>ID</h5>
                    </div>
                    <div class="p-col-6 overview-box-text">
                        <h5>457454</h5>
                    </div>
                    <div class="p-col-3 overview-box-status">
                        nueva
                    </div>
                </div>
            </div>
            <div class="p-col-12">
                <div class="p-grid p-nogutter widget-overview-box overview-box-3">
                    <div class="p-col-3 overview-box-icon">
                        <h5>ID</h5>
                    </div>
                    <div class="p-col-6 overview-box-text">
                        <h5>457454</h5>
                    </div>
                    <div class="p-col-3 overview-box-status">
                        nueva
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-col-12 p-lg-4 p-md-6">
        <div class="card widget-support-request">
            <div class="p-grid p-nogutter">
                <div class="p-col-6 title">
                    <h5>En preparación</h5>
                </div>
                <div class="p-col-6 support-info">
                    <p>⏰ Estimated wait time</p>
                    <span class="highlighted">21 minutes</span>
                </div>
            </div>
            <div class="p-col-12">
                <div class="p-grid p-nogutter widget-overview-box overview-box-1 p-shadow-24">
                    <div class="p-col-3 overview-box-icon">
                        <h5>ID</h5>
                    </div>
                    <div class="p-col-6 overview-box-text">
                        <h5>457454</h5>
                    </div>
                    <div class="p-col-3 overview-box-status">
                        <circle-progress [minutes]="5"></circle-progress>
                    </div>
                </div>
            </div>
            <div class="p-col-12">
                <div class="p-grid p-nogutter widget-overview-box overview-box-1 p-shadow-24">
                    <div class="p-col-3 overview-box-icon">
                        <h5>ID</h5>
                    </div>
                    <div class="p-col-6 overview-box-text">
                        <h5>457454</h5>
                    </div>
                    <div class="p-col-3 overview-box-status">
                        <circle-progress [minutes]="minutes"></circle-progress>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-col-12 p-lg-4 p-md-6">
        <div class="card widget-support-request">
            <div class="p-grid p-nogutter">
                <div class="p-col-6 title">
                    <h5>Por Entregar</h5>
                </div>
                <div class="p-col-6 support-info">
                    <p>⏰ Estimated wait time</p>
                    <span class="highlighted">21 minutes</span>
                </div>
            </div>

        </div>
    </div>
</div>