<div class="layout-topbar">
    <div class="layout-topbar-wrapper">
        <div class="layout-topbar-left" style="gap: 10px;">
            <!--p-button (onClick)="menu.toggle($event)" icon="pi pi-ellipsis-v" label="Opciones"></p-button-->
            <!--p-menu #menu [model]="items" [popup]="true" /-->
            <ng-container *ngIf="!isMobile">
            <ng-container *ngFor="let storeOpen of storesOpen">
                <div class="layout-megamenu-wrapper" (click)="showDialogOpenStore(storeOpen)">
                <button
                    pButton
                    type="button"
                    [label]="storeOpen?.name ?? 'Tienda'"
                    icon="pi pi-home"
                    [loading]="storeOpen.isLoadingOpenStatusStore"
                    [ngClass]="storeOpen.isOpen ? 'p-button-success' : 'p-button-warning'">
                </button>
                </div>
            </ng-container>
            </ng-container>

            <ng-container *ngIf="isMobile">
            <button
                pButton
                type="button"
                label="Tiendas"
                icon="pi pi-home"
                (click)="storesMenu.toggle($event)">
            </button>
            <p-menu #storesMenu [model]="items" [popup]="true"></p-menu>
            </ng-container>

            <ng-container *ngIf="isAllLoadingOpenStatusStore">
                <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="1"></p-progressSpinner>
            </ng-container>


            
            
            <div style="margin: 0 auto;" id="logoImagen">
                <img src="assets/images/LOGOTIPO_BLANK.png" alt="LogoPIWI" class="image-container">
            </div>
            <a href="#" class="sidebar-menu-button" (click)="appMain.onMenuButtonClick($event)">
                <i class="pi pi-bars" style="color: #FFFFFF;"></i>
            </a>
            <a href="#" class="topbar-menu-mobile-button" (click)="appMain.onTopbarMobileMenuButtonClick($event)">
                <i class="pi pi-ellipsis-v" style="color: #FFFFFF;"></i>
            </a>
        </div>
        <div class="tristate">

            <p-triStateCheckbox [(ngModel)]="audioEnabled" label="Alarma" (onChange)="onChangeFlagAudio()"></p-triStateCheckbox>
        </div>
        <div class="layout-topbar-right fadeInDown">
            <ul class="layout-topbar-actions">
                <li #message class="topbar-item" [ngClass]="{'active-topmenuitem': appMain.activeTopbarItem === message}">
                    <a href="#" class="space-between" (click)="appMain.onTopbarItemClick($event,message)">
                        <img src="{{ origenIcon }}" class="search-img marker" alt=""/>
                        <!-- <i class="topbar-icon pi pi-desktop" style="color: #FFFFFF;"></i> -->
                    </a>
                    <a href="#" class="space-between" (click)="showLeyend()" pTooltip="Leyenda" tooltipPosition="bottom">
                        <i class="pi pi-book"></i>
                    </a>
                    <a 
                        class="space-between"
                        href="https://drive.google.com/drive/folders/1LEJ-r2VD7-YupLr73X2nQRDG4rMzk8CZ?usp=sharing" 
                        target="_blank" 
                        rel="noopener noreferrer" 
                        class="p-button font-bold">
                        Tutoriales</a>
                    <button class="p-button font-bold" (click)="permitToNotify()">Notificaciones</button>
                    <ul class="fadeInDown scrollable-menu">
                        <li class="layout-submenu-header">
                            <h1 style="color: #202020;">Tiendas Disponibles</h1>
                            <span style="color: #757575;">Seleccione las Tiendas disponibles</span>
                        </li>
                        <li class="layout-submenu-item" *ngFor="let store of stores" class="scrollable-menu" >
                            <div class="submenu-content">
                                <div class="submenu-icons">
                                    <img src="assets/images/ICON STORE.svg" class="search-img marker" alt=""/>
                                    <p>{{store?.store_name?.toUpperCase()??"Tienda"}}</p>
                                </div>
                                <div>
                                    <p-checkbox name="{{store.id}}" value="{{store.store_id}}" [(ngModel)]="selectStore" inputId="ny" class="float-right" (onChange)="setStoreId(store,store.store_id,$event)"></p-checkbox>
                                </div>
                            </div>
                            <!-- <div class="p-col-12">
                                <div class="p-grid">
                                    <div class="p-col-2">
                                    </div>
                                    <div class="p-col-7">
                                        <div class="menu-text">
                                        </div>
                                    </div>
                                    <div class="p-col-2">
                                    </div>
                                </div>
                            </div> -->
                        </li>        
                    </ul>
                </li>
                <li #profile class="topbar-item profile-item" [ngClass]="{'active-topmenuitem': appMain.activeTopbarItem === profile}">
                    <a href="#" (click)="appMain.onTopbarItemClick($event,profile)">
                        <span class="profile-image-wrapper">
                            <p-avatar styleClass="mr-2" size="large" shape="circle" image="assets/images/USER 2.png"></p-avatar>
                        </span>
                        <span class="profile-info-wrapper">
                        <h3>{{userName | titlecase}}</h3>
                        <span>Agente</span>
                    </span>
                    </a>
                    <ul class="profile-item-submenu fadeInDown">
                        <li class="profile-submenu-header">
                            <div class="performance">
                                <!-- <span>Weekly Performance</span>
                                <img src="assets/layout/images/topbar/asset-bars.svg" alt="mirage-layout" /> -->
                            </div>
                            <div class="profile" style="align-items: center;">
                                <img src="assets/images/user.png" alt="mirage-layout"
                                                width="40" />
                                <h1>{{userName | titlecase}}</h1>
                                <span>Agente</span>
                            </div>
                        </li>

                        <li class="layout-submenu-footer" style="padding: 8px;">
                            <button class="signout-button" (click)="logout()">Cerrar Sesión</button>
                        </li>
                    </ul>
                </li>   
            </ul>

            <ul class="profile-mobile-wrapper">
                
                <li #mobileProfile class="topbar-item profile-item" [ngClass]="{'active-topmenuitem': appMain.activeTopbarItem === mobileProfile}">
                    <a href="#" (click)="appMain.onTopbarItemClick($event,mobileProfile)">
                    <span class="profile-image-wrapper">
                        <img src="assets/layout/images/topbar/avatar-eklund.png" alt="mirage-layout" />
                    </span>
                        <span class="profile-info-wrapper">
                        <h3 style="color: #FFFFFF;">{{userName | titlecase}}</h3>
                        <span>Agente</span>
                    </span>
                    </a>
                    <ul class="fadeInDown">
                        <li class="profile-submenu-header">
                            <div class="profile">
                                <img src="assets/images/user.png" alt="mirage-layout"width="40" />
                                <h1>{{userName | titlecase}}</h1>
                                <span>Agente</span>
                            </div>
                        </li>
                        <li class="layout-submenu-footer">
                            <button class="signout-button" (click)="logout()">Cerrar Sesión</button>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<p-dialog [(visible)]="displayOpenStore" [modal]="true" header="Opciones de la tienda">
    <ng-template pTemplate="content">
        <h5 class="p-p-5 p-m-auto">La tienda esta {{storeOpenSelected.isOpen?'Abierta':'Cerrada'}}</h5  >
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="changeStatusOpenStore()" [label]="storeOpenSelected.isOpen?'Cerrar la tienda':'Abrir la tienda'" class="p-button-text"></p-button>
        <p-button icon="pi pi-times" (click)="displayOpenStore=false" label="Cancelar"></p-button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="isWelcomeDialogOpen" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" 
[style]="{width: '30vw'}" [modal]="true">
    <div style="text-align: center;">
       <h2>¡Bienvenido a nuestra plataforma!</h2>

       <div class="p-px-3 p-py-2">
        <p style="font-size: larger;">Estamos encantados de tenerte aquí. En nuestro sitio, puedes gestionar pedidos. 
            Revisar los reportes de usuarios, solicitar pedidos entre otras cosas más. 
            Disfrute su estadía.</p>       
        </div>

       <div>
        <button pButton pRipple label="Entendido" icon="pi pi-thumbs-up-fill" (click)="onPlayAudioOnDialog()"
        class="font-bold p-px-5 p-py-3 p-button-raised p-button-rounded white-space-nowrap"></button>
       </div>
    </div>
  </p-dialog>

  <p-dialog [(visible)]="isShowDialog" [modal]="true" [style]="{width: '50vw'}">
    <ng-template pTemplate="header">
        <div class="custom-header">
            <p class="header-title">OOPS!... Tienes facturas pendientes por pagar</p>
            <p class="header-subtitle" *ngIf="listInvoicesAfterPay?.length > 0; else beforeTwoDays">
                Algunos de tus servicios están temporalmente suspendidos.
            </p>
            <ng-template #beforeTwoDays>
                <p class="header-subtitle" *ngIf="listInvoicesBeforeTwoDays?.length > 0">
                    Algunos de tus servicios estarán temporalmente suspendidos.
                </p>
            </ng-template>
            <button type="button" pButton icon="pi pi-times" class="custom-close-button" (click)="isShowDialog = false"></button>
        </div>
    </ng-template>
    <br>
    <ng-container *ngIf="listInvoicesAfterPay?.length > 0; else beforeTwoDaysTable">
        <p-table 
            [value]="listInvoicesAfterPay" 
            responsiveLayout="scroll" 
            style="width: 100%; text-align: center;"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th style="text-align: center; font-weight: bold; font-size: 20px;">Marca</th>
                    <th style="text-align: center; font-weight: bold; font-size: 20px;">Reportes</th>
                    <th style="text-align: center; font-weight: bold; font-size: 20px;">Link de Pago</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-invoice>
                <tr>
                    <td style="text-align: center; font-size: 20px;">{{ invoice.brandName }}</td>
                    <td style="text-align: center; font-size: 20px;">
                        <ng-container *ngFor="let invoiceItem of invoice.invoices">
                            <a [href]="invoiceItem.reportLink" class="custom-button-table-report">Ver Reporte</a>
                            <br *ngIf="invoiceItem !== invoice.invoices[invoice.invoices.length - 1]"/>
                        </ng-container>
                    </td>
                    <td style="text-align: center; font-size: 20px;">
                        <ng-container *ngFor="let invoiceItem of invoice.invoices">
                            <a [href]="invoiceItem.paymentLink" target="_blank" class="custom-button-table">Pagar aqui</a>
                            <br *ngIf="invoiceItem !== invoice.invoices[invoice.invoices.length - 1]"/>
                        </ng-container>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </ng-container>
    
    <ng-template #beforeTwoDaysTable>
        <p-table 
            [value]="listInvoicesBeforeTwoDays" 
            responsiveLayout="scroll" 
            style="width: 100%; text-align: center;"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th style="text-align: center; font-weight: bold; font-size: 20px;">Marca</th>
                    <th style="text-align: center; font-weight: bold; font-size: 20px;">Reportes</th>
                    <th style="text-align: center; font-weight: bold; font-size: 20px;">Link de Pago</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-invoice>
                <tr>
                    <td style="text-align: center; font-size: 20px;">{{ invoice.brandName }}</td>
                    <td style="text-align: center; font-size: 20px;">
                        <ng-container *ngFor="let invoiceItem of invoice.invoices">
                            <a [href]="invoiceItem.reportLink" class="custom-button-table-report">Ver Reporte</a>
                            <br *ngIf="invoiceItem !== invoice.invoices[invoice.invoices.length - 1]"/>
                        </ng-container>
                    </td>
                    <td style="text-align: center; font-size: 20px;">
                        <ng-container *ngFor="let invoiceItem of invoice.invoices">
                            <a [href]="invoiceItem.paymentLink" target="_blank" class="custom-button-table">Pagar aqui</a>
                            <br *ngIf="invoiceItem !== invoice.invoices[invoice.invoices.length - 1]"/>
                        </ng-container>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </ng-template>    
</p-dialog>

<p-dialog header="Leyenda" [(visible)]="isVisibleLeyend" [modal]="true" [closable]="true" [style]="{'width': '50vw', 'background-color': 'white!important','color': 'black'}" [styleClass]="'custom-dialog-class'">
    <div class="p-fluid">
        <div class="p-field p-grid p-align-center">
            <div class="p-col-fixed" style="width: 40px;">
                <img src="../../../assets/images/pickupStore.svg" alt="Autogestión" class="icon-size">
            </div>
            <div class="p-col" style="margin-left: 5px;">
                <label for="dayStart">
                    Orden de tipo <strong>Recojo en Tienda</strong>.
                </label>
            </div>
        </div>

        <div class="p-field p-grid p-align-center">
            <div class="p-col-fixed" style="width: 40px;">
                <img src="../../../assets/images/selfManaged.svg" alt="Autogestión" class="icon-size">
            </div>
            <div class="p-col" style="margin-left: 5px;">
                <label for="dayStart">
                    Orden de tipo <strong>Autogestionada</strong>
                </label>
            </div>
        </div>

        <div class="p-field p-grid p-align-center">
            <div class="p-col-fixed" style="width: 40px;">
                <img src="assets/images/DELIVERY_MAN.png" alt="Driver" class="icon-size">
            </div>
            <div class="p-col" style="margin-left: 5px;">
                <label for="dayStart">
                    Si la orden está <strong>en preparación</strong> el driver se está dirigiendo a la tienda, en caso contrario si la orden está <strong>en reparto</strong> el driver se dirige al domicilio
                </label>
            </div>
        </div>

        <div class="p-field p-grid p-align-center">
            <div class="p-col-fixed" style="width: 40px;">
                <img src="assets/images/DRIVER_IMAGE.svg" alt="Driver" class="icon-size">
            </div>
            <div class="p-col" style="margin-left: 5px;">
                <label for="dayStart">
                    El repartidor se encuentra en la tienda.
                </label>
            </div>
        </div>
    </div>

    <p-footer>
        <p-button label="Cerrar" icon="pi pi-times" (click)="isVisibleLeyend=false" class="ui-button-secondary"></p-button>
    </p-footer>

</p-dialog>
