.layout-topbar .layout-topbar-wrapper .layout-topbar-right .profile-item > ul > li.profile-submenu-header {

  background-image: url("../assets/layout/images/dashboard/news-1.png");

}
.search-img{
  height: 22px;
  width: 22px;
  margin-right: 12px;
}
.image-container {
  height: 135px;
  width: auto;
}

.layout-topbar-wrapper{
  background-color: #2D2D2D;
}

.layout-topbar .layout-topbar-wrapper .layout-topbar-right .profile-item > a .profile-info-wrapper h3 {
  color: #ffffff;
}

:host ::ng-deep .layout-menu-light .layout-sidebar .layout-menu > li > a .menuitem-text {
  color: #ffffff;
}

  h5{
    font-size: 1.25rem;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
    color: inherit;
}
:host ::ng-deep.layout-submenu-header{
  padding: 10px !important;
}

:host ::ng-deep.layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li > ul > li {
  padding: 0px;
}

.tristate{
  color: #ffffff;
  display: flex;
  align-items: center;
}