<div class="layout-topbar">
    <div class="layout-topbar-wrapper">
        <div class="layout-topbar-left">

            <div class="layout-megamenu-wrapper" (click)="displayOpenStore=true">
                <button pButton type="button"  [label]="isOpenStore?'Tienda abierta':'Abrir tienda'" icon="pi pi-home" [loading]="isLoadingOpenStatusStore" [ngClass]="isOpenStore?'p-button-success':'p-button-warning'" ></button>
            </div>
            <div style="margin: 0 auto;">
                <img src="assets/images/Logotipo_TRES22-delivery-02.png" alt="LogoTRES22" class="image-container">
            </div>
        </div>
        <div class="layout-topbar-right fadeInDown">
            <ul class="layout-topbar-actions">
                <li #profile class="topbar-item profile-item" [ngClass]="{'active-topmenuitem': appMain.activeTopbarItem === profile}">
                    <a href="#" (click)="appMain.onTopbarItemClick($event,profile)">
                        <span class="profile-image-wrapper">
                            <p-avatar icon="pi pi-user" styleClass="mr-2" size="large" shape="circle" [style]="{'background-color':'#FFFFFF', 'color': '#212222'}"></p-avatar>
                        </span>
                        <span class="profile-info-wrapper">
                        <h3>{{userName}}</h3>
                        <span>Agente</span>
                    </span>
                    </a>
                    <ul class="profile-item-submenu fadeInDown">
                        <li class="profile-submenu-header">
                            <div class="performance">
                                <!-- <span>Weekly Performance</span>
                                <img src="assets/layout/images/topbar/asset-bars.svg" alt="mirage-layout" /> -->
                            </div>
                            <div class="profile">
                                <img src="assets/images/user.png" alt="mirage-layout"
                                                width="40" />
                                <h1>{{userName}}</h1>
                                <span>Agente</span>
                            </div>
                        </li>

                        <li class="layout-submenu-footer">
                            <button class="signout-button" (click)="logout()">Cerrar Sesión</button>
                        </li>
                    </ul>
                </li>   
            </ul>

            <ul class="profile-mobile-wrapper">
                <li #mobileProfile class="topbar-item profile-item" [ngClass]="{'active-topmenuitem': appMain.activeTopbarItem === mobileProfile}">
                    <a href="#" (click)="appMain.onTopbarItemClick($event,mobileProfile)">
                    <span class="profile-image-wrapper">
                        <img src="assets/layout/images/topbar/avatar-eklund.png" alt="mirage-layout" />
                    </span>
                        <span class="profile-info-wrapper">
                        <h3 style="color: #FFFFFF;">{{userName}}</h3>
                        <span>Agente</span>
                    </span>
                    </a>
                    <ul class="fadeInDown">
                        <li class="profile-submenu-header">
                            <div class="profile">
                                <img src="assets/images/user.png" alt="mirage-layout"width="40" />
                                <h1>{{userName}}</h1>
                                <span>Agente</span>
                            </div>
                        </li>
                        <li class="layout-submenu-footer">
                            <button class="signout-button" (click)="logout()">Cerrar Sesión</button>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<p-dialog [(visible)]="displayOpenStore" [modal]="true" header="Abrir Tienda">
    <ng-template pTemplate="content">
        <h5 class="p-p-5 p-m-auto">La tienda esta {{isOpenStore?'Abierta':'Cerrada'}}</h5  >
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="changeStatusOpenStore()" [label]="isOpenStore?'Cerrar la tienda':'Abrir la tienda'" class="p-button-text"></p-button>
        <p-button icon="pi pi-times" (click)="displayOpenStore=false" label="Cancelar"></p-button>
    </ng-template>
</p-dialog>