

  <div class="p-grid">
    <div class="p-col-4 container-service">
      <!-- <pre>{{list_marker | json}}</pre> -->
        <ng-container *ngIf="list_order.length > 0; else CursoTemplate">
            <p-accordion
              (onClose)="onTabClose($event)"
              (onOpen)="onTapOpen($event, flagAccordion)"
            >
              <p-accordionTab
                transitionOptions="400ms cubic-bezier(0.86, 0, 0.07, 1)"
                header="Servicio N°: {{ item.id + ' - ' }}{{
                  '(' + item.status + ')' | uppercase
                }}"
                *ngFor="let item of list_order; index as i"
                [(selected)]="activeState[i]"
              >
                <div class="grid m-0">
                  <div class="col-12">
                    <div class="grid flex">
                      <p class="etiqueta-lista col-5">Origen</p>
                      <p class="contenido-lista col-7">
                        {{ item.addresses[0].addressStreet}}  
                      </p>
                    </div>
                    <div
                      class="grid flex"
                    >
                      <p class="etiqueta-lista col-5">Destino</p>
                      <p class="contenido-lista col-7">
                        {{ item.addresses[1].addressStreet}}  
                      </p>
                    </div>
                    <!-- <div class="grid flex">
                      <p class="etiqueta-lista col-5">Tipo de servicio</p>
                      <p class="contenido-lista col-7">
                        {{ item.serviceType!.name }}
                      </p>
                    </div> -->
                    <div class="grid flex">
                      <p class="etiqueta-lista col-5">Metodo de Pago</p>
                      <p class="contenido-lista col-7">
                        {{ item.payment.method.type }}
                      </p>
                    </div>
                    <div class="grid flex">
                      <p class="etiqueta-lista col-5">Fecha y hora</p>
                      <p class="contenido-lista col-7">
                        {{ item.createdAt | date : "dd/MM/yyyy HH:mm" }}
                      </p>
                    </div>
        
                    <div class="grid flex">
                      <p class="etiqueta-lista col-5">Precio Estimado</p>
                      <p
                        class="contenido-lista col-7"
                        style="color: #e52421; font-weight: 500"
                      >
                        {{ item.total }}
                      </p>
                    </div>
                  </div>
                </div>
                <br />
                <!-- <ng-container
                  *ngIf="
                    item.driver &&
                    item.driver != null &&
                    item.statusType!.id != 33 &&
                    item.statusType!.id != 35 &&
                    item.statusType!.id != 9 &&
                    item.statusType!.id != 10 &&
                    item.statusType!.id != 11
                  "
                >
                  <div class="datos-conductor-container p-3 mb-3">
                    <div class="grid m-0">
                      <h5 class="pb-2">Datos del conductor:</h5>
                    </div>
                    <div class="grid col-12 md:col-12 lg:col-12 p-0">
                      <i class="pi pi-user m-2"></i>
                      <div class="col">
                        <h6 for="firstname2">
                          {{ item.driver.firstName! | uppercase }}
                          {{ item.driver.firstLastName! | uppercase }}
                          {{ item.driver.secondLastName! | uppercase }}
                        </h6>
                      </div>
                    </div>
                    <div class="grid col-12 md:col-12 lg:col-12 p-0">
                      <i class="pi pi-phone m-2"></i>
                      <div class="col">
                        <h6 for="firstname2">{{ item.driver.phoneNumber! }}</h6>
                      </div>
                    </div>
                    <div class="grid col-12 md:col-12 lg:col-12 p-0 pb-2">
                      <i class="pi pi-car m-2"></i>
                      <div class="col">
                        <label for="firstname2">
                          {{ item.vehicle.make! }} {{ item.vehicle.model! + " -" }}
                        </label>
                        <label for="firstname2">
                          {{ item.vehicle.licensePlate! }}
                        </label>
                      </div>
                    </div>
                    <div
                      class="grid col-12 md:col-12 lg:col-12 text-center"
                      style="
                        display: flex;
                        justify-content: center;
                        align-items: center;
                      "
                    >
                      <p-avatar
                        image="{{ item.driver?.pictureUrl }}"
                        styleClass=" "
                        shape="circle"
                        [style]="{
                          'background-color': '#2196F3',
                          color: '#ffffff',
                          width: '100px',
                          height: '100px',
                          'font-size': '3em'
                        }"
                        [label]="
                          item.driver?.pictureUrl
                            ? ''
                            : item.driver?.firstName!.substring(0, 1)
                        "
                        size="xlarge"
                      >
                      </p-avatar>
                    </div>
                  </div>

                </ng-container>
                <div class="grid col-12 md:col-12 lg:col-12 p-0">
                  <div class="col" *ngIf="item.flagBuscandoConductor">
                    <p-progressBar
                      class="fadein animation-duration-1000"
                      mode="indeterminate"
                      [style]="{ color: '#e0040a', height: '4px' }"
                    ></p-progressBar>
                  </div>
                </div> -->
                <div style="display: grid">
                <div
                class=""
                style="float: right"
              >
                <button
                  (click)="btnCancelViaje(item)"
                  pButton
                  pRipple
                  type="button"
                  label="Cancelar"
                  style="background: #E9464C !important; border: none"
                  class="mb-2 px-4 py-2"
                ></button>
              </div>
                </div>
              </p-accordionTab>
            </p-accordion>
          </ng-container>
          <ng-template #CursoTemplate>
            <h5>No hay servicios en disponibles</h5>
          </ng-template>
        
    </div>
    <div class="p-col-8">
      <nexus-informacion-mapa
      [idMap]="'Map-'"
    [coberturePosition]="coberturePosition"
    [lstPosiciones]="lstPosiciones"
    [initMap]="flagInitMap"
    [initMapViewAfter]="initMapViewAfter"
    [lstCoordinateEncoded]="polyline_order"
  >
  </nexus-informacion-mapa>
    </div>
  </div>