<div class="p-grid">
  <div class="p-col-4 container-service">

    <div class="p-mb-2" style="display: flex; justify-content: center;">
      <p-selectButton class="select-button-custom"  [options]="orderCourseOptions" 
      [(ngModel)]="filterOrder" optionLabel="name" optionValue="value" (onChange)="onFilterChange()"
      ></p-selectButton>
    </div>

    <!-- <pre>{{list_marker | json}}</pre> -->
    <ng-container *ngIf="filteredOrders?.length > 0; else CursoTemplate">
      <p-accordion
        (onClose)="onTabClose($event)"
        (onOpen)="onTapOpen($event, flagAccordion)"
      >
        <!-- [(selected)]="activeState[i]" -->
        <p-accordionTab transitionOptions="400ms cubic-bezier(0.86, 0, 0.07, 1)" *ngFor="let item of filteredOrders; index as i" [(selected)]="selectedTabs[item.uuid]" >
        <ng-template pTemplate="header">
          <div>
            Orden  N.°: {{ item.id + ' - ' }} <b style="font-weight: 500;" [ngStyle]="{ color: item.status_order_color}">
              {{
                '(' + item.status_order + ')' 
              }}
            </b>
            <i class="pi pi-spin pi-spinner" *ngIf="item.isSpinnerVisible"></i>
          </div>
        </ng-template>
          <div class="grid m-0">
            <div class="col-12">
              <div class="grid flex">
                <p class="etiqueta-lista col-5">Cliente</p>
                <p class="contenido-lista col-7">
                  {{ item.addresses[1]?.receptorName ? item.addresses[1].receptorName : '' }}
                </p>
              </div>
              <div class="grid flex">
                <p class="etiqueta-lista col-5">Tienda</p>
                <p class="contenido-lista col-7">
                  {{ item.addresses[0].addressStreet }}
                </p>
              </div>
              <div class="grid flex">
                <p class="etiqueta-lista col-5">Destino</p>
                <p class="contenido-lista col-7">
                  {{ item.addresses[1]?.addressStreet??'' }}
                </p>
              </div>
              <div class="grid flex">
                <p class="etiqueta-lista col-5">Método de Pago</p>
                <p class="contenido-lista col-7">
                  {{ item.order_name}}
                </p>
              </div>
              <div class="grid flex">
                <p class="etiqueta-lista col-5">Precio Estimado</p>
                <p
                  class="contenido-lista col-7"
                  style="color: #e52421; font-weight: 500"
                >
                {{ item.payment.amount.currency }}
                  {{ item.payment.amount.value }}
                
                </p>
              </div>
            </div>
          </div>
          <br />
          <ng-container *ngIf="item.deliveryMan">
                  <div class="datos-conductor-container p-3 mb-3">
                    <div class="p-grid m-0">
                      <h4 class="pb-2">Datos del repartidor:</h4>
                    </div>
                    <div class="p-grid col-12 md:col-12 lg:col-12 p-0">
                      <i class="pi pi-user m-2"></i>
                      <div class="p-col">
                        <h5 for="firstname2">
                          {{ item.deliveryMan?.id! }}  - {{ item.deliveryMan?.name! | uppercase }} 
                        </h5>
                      </div>
                    </div>
                    <div class="p-grid col-12 md:col-12 lg:col-12 p-0">
                      <i class="pi pi-phone m-2"></i>
                      <div class="p-col">
                        <h5 for="firstname2">{{ item.deliveryMan?.phone!  }} </h5>
                      </div>
                    </div>
                    <div
                      class="p-grid col-12 md:col-12 lg:col-12 text-center"
                      style="
                        display: flex;
                        justify-content: center;
                        align-items: center;
                      "
                    >
                    <img src="{{item.deliveryMan?.picture?.profile}}" alt="" style="width: 100px; height: 100px; background-color: #fff; border-radius: 50%;" onError="this.src='assets/images/user.png'">

                    </div>
                  </div>

                </ng-container>
          <div class="p-grid">
            <div class="p-col" *ngIf="!item.deliveryMan">
              <button
                (click)="isDisplayOrderCancelModal=true;orderSelected=item"
                pButton
                pRipple
                type="button"
                label="Cancelar"
                class="p-mr-2"
              ></button>
              <button
                (click)="redirectOrderTrip(item)"
                pButton
                pRipple
                type="button"
                label="Editar"
                class="p-button-outlined"
              ></button>
            </div>
            <div class="p-col">
              <div class="overlay-container">
                <button pButton pRipple type="button" (click)="toggleDisplayDiv(item);$event.stopPropagation()" icon="pi pi-comment" class="p-button-rounded" [label]="item.messagesNoReadTotal" style="float: right;"></button>
                <div [attr.id]="'undoBtn'+i" class="overlay-chat" *ngIf="item.showButton" [@enterAnimation]>
                   <app-chat 
                      [isLoading]="item.isLoadingChat"
                      [messages]="item.messagesChat" 
                      [orderId]="item.id"
                      [orderUuid]="item.uuid"
                      [usuarioLogueado]="userName"
                      [userId]="userId"
                      [flagMainComponent]="true"
                      (hideChat)="hideChatComponent(item)"
                      (emitMessage)="sendMessage($event)"
                      ></app-chat>
                </div>
             </div>
            </div>
            
          </div>
        </p-accordionTab>
      </p-accordion>
    </ng-container>
    <ng-template #CursoTemplate>
      <h5>No hay órdenes en disponibles</h5>
    </ng-template>
  </div>
  <div class="p-col-8">
    <!-- <nexus-informacion-mapa
      [idMap]="'Map-'"
      [coberturePosition]="coberturePosition"
      [lstPosiciones]="lstPosiciones"
      [lstPosicionesDriver]="lstPosicionConductor"
      [initMap]="flagInitMap"
      [initMapViewAfter]="initMapViewAfter"
      [lstCoordinateEncoded]="polyline_order"
    >
    </nexus-informacion-mapa> -->
    <agm-map 
      [style]="{height:'100%', width:'100%'}" 
      [latitude]="center.lat" 
      [longitude]="center.lng" 
      [zoom]="zoom"
      >
      <agm-marker *ngFor="let marker of markers" 
          [markerDraggable]="true" 
          [latitude]="marker.lat" 
          [longitude]="marker.lng" 
          
          [iconUrl]="marker.iconUrl"
          [markerDraggable]="marker.isDraggable"
          (dragEnd)="onChangeMapMarkers($event, marker)"
          ></agm-marker>
      <agm-polyline *ngFor="let polyLine of polyLines" [editable]="false" [strokeColor]="polyLine.color" [strokeWeight]="3">
        <agm-polyline-point *ngFor="let point of polyLine.routePoints" [latitude]="point.lat" [longitude]="point.lng" [visible]="false"></agm-polyline-point>
      </agm-polyline>
    </agm-map>
  </div>
</div>



<p-dialog [(visible)]="isDisplayOrderCancelModal" [modal]="true" [style]="{width: '500px'}">
  <div class="surface-section px-2 py-4 md:px-2 lg:px-6">
    <div class="text-700">
      <div class="p-text-center font-bold mb-3">
        <i class="pi pi-info-circle" style="color: #f96060; font-size: 5.5rem;"></i>
      </div>
      <div class="p-text-center font-bold mb-3">
        <label class="font-semibold w-6rem">Razon de cancelación</label>
        <div class="flex align-items-center gap-3 mb-3">
          <input pInputText [(ngModel)]="reasonCancelOrder" class="flex-auto" autocomplete="off" />
        </div>
        <small>
          Es obligatorio indicar una razón
        </small>
    </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
     <p-button label="Cerrar" styleClass="p-button-primary p-button-outlined" [loading]="isLoadingButtonOrderCanceling" (click)="isDisplayOrderCancelModal = false"></p-button>
     <p-button label="Sí, seguro de cancelar" styleClass="p-button-secondary p-button-outlined" icon="pi pi-trash" [loading]="isLoadingButtonOrderCanceling" (click)="btnCancelViaje()"></p-button>
  </ng-template>
</p-dialog>