<div class="rt-page" [ngClass]="'map-' + mapViewState">
  
  <!-- Contenedor del mapa -->
  <div class="rt-map-wrap" style="min-height: 200px;">
    <div id="leaflet-map" class="rt-map" style="width: 100%; height: 100%; min-height: 200px;"></div>
    
    <!-- Botón refrescar mapa (solo si el mapa no cargó) -->
    <button 
      class="btn-refresh-map" 
      (click)="refreshMap()" 
      type="button" 
      title="Refrescar mapa"
      *ngIf="!isMapLoaded()">
      <i class="pi pi-refresh"></i>
    </button>
  </div>

  <!-- Botón expandir/colapsar mapa (fuera del contenedor del mapa) -->
  <button class="btn-expand-map" (click)="toggleMapExpand()" type="button">
    <i class="pi" [ngClass]="getMapButtonIcon()"></i>
    <span>{{ getMapButtonText() }}</span>
  </button>

  <!-- Bottom Sheet con formulario -->
  <div class="rt-sheet">
    <div class="rt-sheet__grabber" (click)="toggleMapExpand()" aria-hidden="true"></div>
    <div #sheetBody class="rt-sheet__body">
      <div class="field">
        <div class="p-grid p-fluid">
          <label>Tienda factura</label>
          <div class="p-col-12">
            <p-dropdown 
              [options]="storesAvailable"  
              [(ngModel)]="request_trip.store.id" 
              optionLabel="store.fullName" optionValue="store.id" 
              (onChange)="selectStore($event,input_visible_pickup)"   
              placeholder="Tienda factura">
            </p-dropdown>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="p-grid p-fluid">
          <label>Tienda</label>
          <div class="p-col-12">
            <div class="input-origin-content">
              <img src="{{origenIcon}}" class="search-img-origin marker" alt=""/>
              <p-autoComplete
                  placeholder="¿Dónde lo recogemos?"
                  [(ngModel)]="address" [delay]="1000" 
                  [suggestions]="addresses" (completeMethod)="searchAddress($event)" 
                  (onSelect)="selectPrediction($event)"
                  field="mainText" 
                  [disabled]="!request_trip.isCheckedStore"
                  [ngStyle]="{'flex-grow': '1', 'width': '100%'}"
                  >
                  <ng-template let-address pTemplate="item">
                      <div class="autocomplete-items">
                        <div>
                          <p class="address-mainText" style="text-wrap: balance;">{{ address.mainText }}</p>
                          <p class="address-secondText">{{ address.secondText }}</p>
                        </div>
                      </div>
                  </ng-template>
              </p-autoComplete>
              <p-checkbox [(ngModel)]="request_trip.isCheckedStore" [binary]="true" inputId="binary" (onChange)="enablePickUpInput()"></p-checkbox>
            </div>
          </div>
          <div class="p-col-12" *ngIf="isHiddenInput">
            <div class="input-origin-content">
              <img
                src="{{ referenciaIcon }}"
                class="search-img-origin marker"
                alt=""
                width="6"
              />
              <input
                type="text"
                pInputText
                placeholder="Referencia"
                [(ngModel)]="input_reference_pickup"
                required
                autofocus
              />
            </div>
          </div>
          <div class="p-col-12" *ngIf="isHiddenInput">
            <div class="input-origin-content">
              <i class="pi pi-phone" style="font-size: 1.5rem; color: #212222"></i>
              <p-dropdown id="countrycode_adminStore" appendTo="body" [options]="countryCodes" 
                [(ngModel)]="selectCountryCode" optionLabel="name"
                  [filter]="true" filterBy="name" [showClear]="true" placeholder="País">
                  <ng-template pTemplate="selectedItem">
                      <div class="country-item country-item-value" *ngIf="selectCountryCode">
                          <img src="assets/country-flags/flag_placeholder.png"
                              [class]="'flag flag-' + selectCountryCode.code.toLowerCase()" />
                          <div>&nbsp;{{selectCountryCode.dial_code}}</div>
                      </div>
                  </ng-template>
                  <ng-template let-country pTemplate="item">
                      <div class="country-item">
                          <img src="assets/country-flags/flag_placeholder.png"
                              [class]="'flag flag-' + country.code.toLowerCase()" />&nbsp;
                          <div>{{country.name}} {{country.dial_code}} </div>
                      </div>
                  </ng-template>
              </p-dropdown>
              <p-inputNumber mode="decimal" inputId="withoutgrouping" placeholder="Número de teléfono" 
              [useGrouping]="false" [(ngModel)]="originMobilePhone"></p-inputNumber>
            </div>
          </div>
          <div class="p-col-12" *ngIf="isHiddenInput">
            <div class="input-origin-content">
              <i class="pi pi-user" style="font-size: 1.5rem; color: #212222"></i>
              <input type="text" pInputText placeholder="¿Quién recibe?" [(ngModel)]="input_receptorNameOrigin_pickup" autofocus />
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="p-grid p-fluid">
          <label>Dirección de entrega</label>
          <div class="p-col-12">
            <div class="input-origin-content">
              <img src="{{ destinoIcon }}" class="search-img-origin marker" alt="" />
              <p-autoComplete
                [dropdown]="isDropDownEnable"
                placeholder="¿A dónde lo llevamos?"
                [(ngModel)]="addressDestination" [delay]="1000" 
                [suggestions]="addressesDestination" 
                (completeMethod)="searchAddressDestination($event)" 
                (onSelect)="selectPredictionDestination($event)"
                field="mainText" 
                [ngStyle]="{'flex-grow': '1', 'width': '100%'}"
                optionLabel="mainText"
                >
                <ng-template let-address pTemplate="item">
                    <div class="autocomplete-items">
                      <div>
                        <p class="address-mainText" style="text-wrap: balance;">{{ address.mainText }}</p>
                        <p class="address-secondText">{{ address.secondText }}</p>
                      </div>
                    </div>
                </ng-template>
              </p-autoComplete>
            </div>
          </div>
          <div class="p-col-12">
            <div class="input-origin-content">
              <img src="{{ referenciaIcon }}" width="6" class="search-img-origin marker ml-1" alt="" />
              <input type="text" pInputText placeholder="Referencia" [(ngModel)]="input_reference_destination" required autofocus />
            </div>
          </div>
          <div class="p-col-12">
            <div class="input-origin-content">
              <p-avatar 
                image="assets/images/TELEPHONE VERDE.png" 
                styleClass="mr-2" 
                size="large" 
                shape="circle">
              </p-avatar>
              <p-dropdown id="countrycode_adminStore" appendTo="body" [options]="countryCodes" 
                [(ngModel)]="selectCountryCode" optionLabel="name"
                  [filter]="true" filterBy="name" [showClear]="true" placeholder="País">
                  <ng-template pTemplate="selectedItem">
                      <div class="country-item country-item-value" *ngIf="selectCountryCode">
                          <img src="assets/country-flags/flag_placeholder.png"
                              [class]="'flag flag-' + selectCountryCode.code.toLowerCase()" />
                          <div>&nbsp;{{selectCountryCode.dial_code}}</div>
                      </div>
                  </ng-template>
                  <ng-template let-country pTemplate="item">
                      <div class="country-item">
                          <img src="assets/country-flags/flag_placeholder.png"
                              [class]="'flag flag-' + country.code.toLowerCase()" />&nbsp;
                          <div>{{country.name}} {{country.dial_code}} </div>
                      </div>
                  </ng-template>
              </p-dropdown>
              <p-inputNumber
                inputId="withoutgrouping"
                placeholder="Número de teléfono" 
                [useGrouping]="false"
                [(ngModel)]="destinationMobilePhone"
                (onBlur)="onPhoneBlur($event)" 
                ></p-inputNumber>
                <i class="pi pi-spin pi-spinner" *ngIf="isLoadingRequestCustomer"></i>
            </div>
          </div>
          <div class="p-col-12">
            <div class="input-origin-content">
              <p-avatar 
                image="assets/images/user.png" 
                styleClass="mr-2"   
                size="large" 
                shape="circle"></p-avatar>
              <input
                type="text"
                pInputText
                placeholder="Nombre del cliente"
                [(ngModel)]="destinationReceptorName"
                autofocus
              />
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <h5>Detalles</h5>
        <div class="p-grid p-fluid">
          <div class="p-col-12">
            <div class="input-origin-content">
              <i class="pi pi-comment" style="font-size: 1.5rem; color: #47AC34"></i>
              <div style="width: 100%;">
                <label>Detalle del pedido</label>
                <textarea
                  [rows]="6"
                  [cols]="30"
                  pInputTextarea
                  [autoResize]="true"
                  placeholder="Escriba aquí..."
                  [(ngModel)]="request_trip.description"
                ></textarea>
              </div>
            </div>
          </div>
        </div>
        <ng-container *ngIf="selectedStore?.tagsOrder?.length>0">
        <hr />
          <div class="p-grid p-fluid">
            <div class="p-col-12">
                <p-multiSelect
                  [options]="selectedStore.tagsOrder" 
                  [(ngModel)]="tagsOrderSelect" 
                  placeholder="Tags"
                  optionLabel="value" 
                  display="chip" 
                  [showClear]="true" />
                <div class="mr-5"></div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="field">
        <h5>Método de pago</h5>
        <div class="content-company">
          <div class="p-grid p-fluid">
            <div class="p-col-12">
              <p-selectButton
                class="select-button-custom"
                [options]="stateOptions"
                [(ngModel)]="method_payment"
                optionLabel="name"
                optionValue="value"
              ></p-selectButton>
            </div>
          </div>
          <div class="p-grid p-fluid">
            <div class="p-col-12" *ngIf="method_payment != 'CREDIT'">
              <label for="cashAmount">Monto:</label>
              <p-inputNumber [(ngModel)]="cashAmount" id="cashAmount"  placeholder="S/ 0.00" prefix="S/ " [minFractionDigits]="2"></p-inputNumber>
            </div>
            <div class="p-col-12">
              <label>DOMICILIO</label>
              <p-inputNumber 
                [(ngModel)]="amount" 
                [readonly]="true"
                prefix="S/ " 
                [minFractionDigits]="2"
                mode="decimal"
                inputStyleClass="domicilio-input">
              </p-inputNumber>
            </div>
          </div>
          <p-tabView [(activeIndex)]="activeIndexCalendar" (onChange)="onChangeOrder($event)" >
            <p-tabPanel  header="Minutos">
              <div class="p-grid p-fluid">      
                <p-inputNumber 
                  [(ngModel)]="request_trip.readyToDmMinutesAt" 
                  [showButtons]="true" 
                  min="0"
                  buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="5"
                  decrementButtonClass="p-button-secondary" incrementButtonClass="p-button-success" 
                  incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" currency="EUR">
                </p-inputNumber>
              </div>
            </p-tabPanel>
            <p-tabPanel  header="Calendario">
              <div class="p-grid p-fluid">
                <div class="p-col-12">
                  <p-calendar [(ngModel)]="creadDate" [minDate]="minDate" [showTime]="true" [showSeconds]="true" [showIcon]="true"  ></p-calendar>
                </div>
              </div>
            </p-tabPanel>
          </p-tabView>
        </div>
      </div>
      <div class="field">
        <div class="p-grid p-fluid" *ngIf="!editTripData">
          <div class="p-col-12">
            <button 
            (click)="onSaveOrder()"
              pButton
              pRipple
              class="col-12 p-button-lg"
              style="position: relative; padding: 1rem"
              [loading]="onSaveLoading"
            >
              <span>SOLICITAR UN PIWI</span>
              <span style="position: absolute; right: 2%; top:9%">
                <p-avatar 
                  image="assets/images/GROUP.svg" 
                  styleClass="mr-2" 
                  size="large" 
                  shape="circle"></p-avatar>
              </span>
            </button>
          </div>
        </div>
        <div class="p-grid p-fluid" *ngIf="editTripData">
          <div class="p-col-12">
            <button 
            (click)="onUpdateOrder()"
              pButton
              pRipple
              class="col-12 p-button-lg"
              style="position: relative; padding: 1rem"
              [loading]="onSaveLoading"
            >
              <span>ACTUALIZAR ORDEN</span>
              <span style="position: absolute; right: 2%; top:9%">
                <p-avatar 
                  image="assets/images/GROUP.svg" 
                  styleClass="mr-2" 
                  size="large" 
                  shape="circle"></p-avatar>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>