// :host ::ng-deep .grid{
//     margin-top: -1.9rem;
//     margin-right: -2rem;
// }
.country-item{
    display: flex;
    align-items: center;
}

.information-service{
    position: relative;
    //height: 89vh;
    //overflow-y: auto;
    padding: 2rem;
    background-color: #ffffff
}
.input-origin-content{
    display: flex;
    align-items: center;
}
.search-img-origin{
    height: 32px;
    width: 32px;
    margin-right: 12px;
}
.search-img-origin img{
    height: 100%;
    width: 100%;
}

.bottom-button {
    position: absolute;
    padding-bottom: 20px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  h5{
    font-size: 1.25rem;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
    color: inherit;
}

:host ::ng-deep .p-selectbutton .p-button.p-highlight {
    background-color: #dc3545;
    border: 1px solid #dc3545;
    padding: 0.8rem;
    color: #ffffff;
}

:host ::ng-deep .p-selectbutton .p-button {
    background: transparent;
    //border: 1px solid #;
    border: 1px solid #ced4da;
    color: #000000;
}

:host ::ng-deep .p-selectbutton .p-button:not(.p-disabled):not(.p-highlight):hover {
    background-color: #F28686;
    border: 1px solid #F28686;
}

:host ::ng-deep .p-col-9 {
    padding: 0 0.5rem;
}

:host ::ng-deep .p-button:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #F28686;
  }

  .mat-mdc-form-field {
    width: 100%;
  }

  /* TODO(mdc-migration): The following rule targets internal classes of input that may no longer apply for the MDC version.*/
  .mat-input-custom{
    pointer-events: none;
    font-size: 1.5rem;
    text-align: center;
  }

  .select-button-custom {
    padding: 1rem;
  }

  .content-company{
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
  }

  .sign-logo{
    height: 35px;
  }
  @media (max-width: 1375px) {
    .container-map {
        // height: calc(100vh) !important;
        width: 70%;
        height: 87vh;
        right: 0;
        top: 0;
        bottom: 0;
        overflow: hidden;
        margin: 0% 0% 0% 0%;
        padding: 0% 0% 0% 1%;
        /* background-color: #23507c; */
    }
    .container-service {
        width: 30%;
        padding: 1% 2%;
        /* margin: 1%; */
        margin-top: 0%;
        height: 87vh;
        overflow-y: scroll;
        border-radius: 8px;
        background-color: #ffffff;
        border: 1px solid #dbd8d8;
    }
}

@media (max-width: 1280px) {
    .container-map {
        // height: calc(100vh) !important;
        width: 69%;
        height: 87vh;
        right: 0;
        top: 0;
        bottom: 0;
        overflow: hidden;
        margin: 0% 0% 0% 0%;
        padding: 0% 0% 0% 1%;
        /* background-color: #23507c; */
    }
    .container-service {
        width: 31%;
        padding: 1% 2%;
        /* margin: 1%; */
        margin-top: 0%;
        height: 87vh;
        overflow-y: scroll;
        border-radius: 8px;
        background-color: #ffffff;
        border: 1px solid #dbd8d8;
    }
}

@media (max-width: 1235px) {
    .container-map {
        // height: calc(100vh) !important;
        width: 65%;
        height: 87vh;
        right: 0;
        top: 0;
        bottom: 0;
        overflow: hidden;
        margin-top: 0%;
        /* background-color: #23507c; */
    }
    .container-service {
        width: 35%;
        padding: 1%;
        /* margin: 1%; */
        margin-top: 0%;
        height: 87vh;
        overflow-y: scroll;
        border-radius: 10px;
        background-color: #fcfcfc;
        border: 1px solid #eee7e7;
    }
}

@media (max-width: 1050px) {
    .container-map {
        // height: calc(100vh) !important;
        width: 59%;
        height: 87vh;
        right: 0;
        top: 0;
        bottom: 0;
        overflow: hidden;
        /* background-color: #237c61; */
    }
    .container-service {
        width: 38%;
        padding: 2%;
        /* margin: 1%; */
        height: 87vh;
        overflow-y: scroll;
        border-radius: 10px;
        background-color: #fcfcfc;
        border: 1px solid #eee7e7;
    }
}

@media (max-width: 992px) {
    .container-map {
        // height: calc(100vh) !important;
        width: 59%;
        height: 87vh;
        right: 0;
        top: 0;
        bottom: 0;
        overflow: hidden;
        margin-top: 3%;
        /* background-color: #237c61; */
    }
    .container-service {
        width: 38%;
        padding: 2%;
        /* margin: 1%; */
        margin-top: 3%;
        height: 87vh;
        overflow-y: scroll;
        border-radius: 10px;
        background-color: #fcfcfc;
        border: 1px solid #eee7e7;
    }
}

@media (max-width: 940px) {
    .container-map {
        // height: calc(100vh) !important;
        width: 100%;
        height: 87vh;
        right: 0;
        top: 0;
        bottom: 0;
        overflow: hidden;
        margin-top: 0%;
        /* background-color: #7c3823; */
    }
    .container-service {
        width: 70%;
        padding: 1%;
        margin: 1% 0% 5% 15%;
        margin-top: 3%;
        height: 87vh;
        overflow-y: scroll;
        border-radius: 10px;
        background-color: #fcfcfc;
        border: 1px solid #eee7e7;
    }
}

@media (max-width: 780px) {
    .container-map {
        // height: calc(100vh) !important;
        width: 100%;
        height: 87vh;
        right: 0;
        top: 0;
        bottom: 0;
        overflow: hidden;
        margin-top: 0%;
        /* background-color: #7c3823; */
    }
    .container-service {
        width: 70%;
        padding: 1%;
        margin: 1% 0% 5% 15%;
        margin-top: 3%;
        height: 87vh;
        overflow-y: scroll;
        border-radius: 10px;
        background-color: #fcfcfc;
        border: 1px solid #eee7e7;
    }
}
  .container-map {
    // height: calc(100vh) !important;
    width: 71%;
    height: 87vh;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 1%;
    /* background-color: #23507c; */
}
